USE [master]
GO
/****** Object:  Database [hatBasvurularrDb]    Script Date: 14.05.2023 19:26:27 ******/
CREATE DATABASE [hatBasvurularrDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hatBasvurularrDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\hatBasvurularrDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hatBasvurularrDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\hatBasvurularrDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hatBasvurularrDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hatBasvurularrDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14.05.2023 19:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hatBasvurularrs]    Script Date: 14.05.2023 19:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hatBasvurularrs](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](max) NULL,
	[MusteriSoyad] [nvarchar](max) NULL,
	[MusteriTel] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.hatBasvurularrs] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[hatBasvurularrs] ON 

INSERT [dbo].[hatBasvurularrs] ([MusteriId], [MusteriAd], [MusteriSoyad], [MusteriTel]) VALUES (5, N'Nisan', N'Hakan', N'(654) 566-5456')
SET IDENTITY_INSERT [dbo].[hatBasvurularrs] OFF
GO
USE [master]
GO
