USE [master]
GO
/****** Object:  Database [Vodafone]    Script Date: 14.05.2023 19:25:46 ******/
CREATE DATABASE [Vodafone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vodafone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Vodafone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vodafone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Vodafone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vodafone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vodafone]
GO
/****** Object:  Table [dbo].[hatAranacaklar]    Script Date: 14.05.2023 19:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hatAranacaklar](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [nvarchar](50) NULL,
	[MusteriSoyad] [nvarchar](50) NULL,
	[MusteriTel] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.05.2023 19:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserPassword] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [UserPassword]) VALUES (1, N'iselvi', N'12345')
INSERT [dbo].[Users] ([UserId], [UserName], [UserPassword]) VALUES (2, N'aaksit', N'12345')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
